				<div class="feature" id="f_intro_about">
					<p class="header" style="color: #fff">
						Every story has a beginning. Ours has three.
					</p>		
				</div>
			
				<div class="feature" style="background-color: #fafafa">
					<p class="body" style="margin-top: 20px;">
						It all started when we moved to Stockholm and met at Hyper Island. As much as we liked Stockholm, we quickly found a problem - there is no easy way of getting together with people and finding new things to do. We started working on CANU.
					</p>
				</div>	
				<div class="feature" style="background-color: #fff">
				 	<p class="tech">CEO & Founder</p>
				 	<p class="header">Didrik Persson</p>
				 	<img class="team_member" src="/assets/team/didrik.png">
					<span class="clear"></span>
				 	<p class="tech">CTO & Founder</p>
				 	<p class="header">Roger Calaf</p>
				 	<img class="team_member" src="/assets/team/roger.png">
					<span class="clear"></span>
				 	<p class="tech">Vision/Design & Founder</p>
				 	<p class="header">Vitali Poluzhnikov</p>
				 	<img class="team_member" src="/assets/team/vitali.png">
					<span class="clear"></span>
				</div>
				<div class="feature" style="background-color: #fafafa">
				 	<p class="header">Join our Tribe</p>
					<p class="body">
						Like what we are doing? We are always on the lookout to work with cool people.
Contact us and let's talk.
					</p>
				 	<p class="header">Ask us anything</p>
					<p class="body">
						getgoing@canu.se <br/><br/><br/>
						<b>Hyper Island</b> <br/>Telefonvägen 30 <br/>
126 26 Hägersten
					</p>
				</div>
          

   
	
