<div class="feature" id="f_intro_index">
	<p class="header" style="color: #fff">
		Your spontaneous activity planner
	</p>
	<img class="feed_phone" src="assets/feed_phone.png">
	<p class="header_secondary" style="color: #fff">
		With CANU you propose or find what you feel like doing. Get together and share moments with friends and new friends - for free.</span>
	</p>		
</div>

