<div class="feature" id="f_intro_index">
	<p class="header" style="color: #fff; font-weight: 700; text-shadow: none">
		Get Together
	</p>
		<a href="https://itunes.apple.com/us/app/canu-get-together/id697998179?mt=8&uo=4"><img class="appstore_badge" src="/assets/badge_135x40.svg"></a>
	<img class="feed_phone" src="assets/feed_phone.png">

	<p class="header_secondary" style="color: #fff">
		Propose or find what you feel like doing. Get together and share moments with friends and new friends - for free.</span>
	</p>		
</div>

