	<div class="feature" id="f_intro_product">
		<p class="header" style="color: #1a91a2">
			
			We decided to redesign <br/>the way people <br/>get together.
		</p>
		<p class="header_secondary" style="color: #6d6e7a">
			We crafted an experience not for what has already happened in our lives, but for what's to come next.
			</span>
		</p>		
	</div>

	<div class="feature" id="f_1">
	 	<p class="tech">Future Scrolling</p>
	 	<p class="header">Why walk backwards?</p>
	 	<img class="future_scroll" src="/assets/walk.png">
		<p class="body">
			CANU is about the near future. We chose to reverse the order and the direction of the feed. It's like a Treadmill. 
		</p>

	</div>	
	<div class="feature" style="background-color: #fff">
	 	<p class="tech">Gestured Navigation</p>
	 	<p class="header">The Navbox</p>
	 	<img class="navbox" src="/assets/navbox.png">
		<p class="body">
			It’s just like playing Air Hockey. Navbox is the single controller used for the super quick navigation inside the app.
		</p>
		<span class="clear"></span>
		<div class="device_display" id="dd_1">
			<img class="horizontal" src="/assets/horizontal.png">
			<p>
				Slide horizontally<br/>
				to see your activites
			</p>
		</div>
		<div class="device_display" id="dd_2">
			<img class="create" src="/assets/create.png">
			<p>
				Slide up to instantly<br/>
				create an activity
			</p>
		</div>	
	</div>
	<div class="feature" style="background-color: #fafafa">
		<p class="tech">Pixel Gravity</p>
	 	<p class="header">Why was Newton ignored?</p>
		<p class="body">
			All the content and navigation fall as close to the ground as possible. Easy to reach. More to see.
		</p>
		<img id="nt_phone" src="/assets/newton_mobile.png">
	</div>
