<div class="feature" id="f_intro_world">
	<img class="icon_world" src="/assets/world.svg">
</div>
<div class="feature" id="f_world_story">
	<p class="header" style="color: #6d6e7a">
		<span style="color: #1a90a1">World</span> is a feed in the app that displays all the activities around you.
	</p>	
	<img class="world_phone_map" src="/assets/world_phone_1.png">	
	<p class="header_secondary" style="margin-top: 20px; font-weight: 400">
		This is how it works
	</p>
	<p class="header" style="color: #6d6e7a">
		Let’s say you feel like doing something
	</p>
	<p class="header_secondary" style="color: #1a90a1; margin-top: 20px">
		You discover what’s offered
	</p>
	<img class="world_case" src="/assets/world_discover.png">
	<p class="header_secondary" style="margin-top: 20px; font-weight: 400">
		or
	</p>
	<p class="header_secondary" style="color: #1a90a1; margin-top: 20px">
		You create your own
	</p>
	<img class="world_case" src="/assets/world_create.png">
	<p class="header_secondary" style="margin-top: 20px; font-weight: 400">
		then
	</p>
	<p class="header_secondary" style="color: #1a90a1; margin-top: 20px">
		You Get Together
	</p>
	<img class="happy_ppl" src="/assets/happy_ppl.svg">	
</div>